<h1>Gráficos Dinâmicos</h1>

<label for="chartType">Tipo de Gráfico:</label>
<select id="chartType" [(ngModel)]="selectedChartType">
  <option *ngFor="let chartType of chartTypes" [value]="chartType">{{ chartType }}</option>
</select>

<label for="dataset">Conjunto de Dados:</label>
<select id="dataset" [(ngModel)]="selectedDataset">
  <option *ngFor="let dataset of datasets" [ngValue]="dataset">{{ dataset.name }}</option>
</select>

<button (click)="addChart()">Adicionar Gráfico</button>

<div *ngFor="let chart of charts; let i = index">
  <h3>{{ chart.type }} - {{ selectedDataset.name }}</h3>
  <button (click)="removeChart(i)">Remover</button>

  <div *ngIf="chart.type === 'bar-vertical'">
    <ngx-charts-bar-vertical
      [results]="chart.data"
      [xAxis]="true"
      [yAxis]="true">
    </ngx-charts-bar-vertical>
  </div>

  <div *ngIf="chart.type === 'pie-chart'">
    <ngx-charts-pie-chart
      [results]="chart.data">
    </ngx-charts-pie-chart>
  </div>
</div>
